*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid{
    padding: 20px 10px;
    display: grid;
    width: 100%;
    background-color: black;
    height: 100vh;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(8,1fr);
    row-gap: 20px;
    column-gap: 20px;
}


#_1{
    grid-row:1/5;
    grid-column: 1/3;
    background-color: aqua !important;
}

#_2{
    grid-row:1/3;
    grid-column: 3/5;
    background-color: red !important;
}
#_3{
    grid-row:1/3;
    grid-column: 5/7;
    background-color: red !important;
}
#_4{
    grid-row:1/5;
    grid-column: 7/9;
    background-color: aqua !important;
}
#_5{
    grid-row:3/7;
    grid-column: 3/7;
    background-color: burlywood !important;

}

#_6{
    background-color: aqua !important; 
    grid-row: 5/9;
    grid-column:1/3 ;
}

#_7{
    background-color: red !important;
    grid-row: 7/9;
    grid-column: 3/5;
}
#_8{
    background-color: red !important;
    grid-row: 7/9;
    grid-column: 5/9;
}

#_9
{
    background-color: aqua !important;
    grid-row: 5/7;
    grid-column:7/9 ;
}